html,
body {
    font-family: $font-family;
}

li.nav-item {
    margin-right: 30px;
}

button.btn-daftar {
    padding: 6px 30px;
}

.bg-hijau {
    background-color: $green;
}

.bg-putih {
    background-color: $white !important;
}