/* Pendaftaran.html */

.bg-subhero {
    background-image: url("../img/bg-subhero.svg");
    background-size: cover;
}

.pt-10{
    padding-top: 100px;
}

.text-success{
    color: $green-1 !important;
}

.rounded-15{
    border-radius: 15px;
}

.form-register {
    border: 2px solid $green-2;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 20px;
}


.list-inline {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 0;
}

.list-inline>p {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.list-inline>p:before {
    content: "\200B";
    /* 1 */
    position: absolute;
    /* 2 */
}

.border-left{
    border-left: 5px solid $green-1 !important;
}

ol {
    counter-reset: li;
    margin: 20px 0;
    padding-left: 0;
}

ol>li {
    position: relative;
    margin: 0 0 25px 2em;
    padding: 4px 8px 4px 20px;
    list-style: none;
}

ol>li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

li ol,
li ul {
    margin-top: 6px;
}

ol ol li:last-child {
    margin-bottom: 0;
}

.disc>li::before {
    color: white;
    background-color: #398900;
    border-radius: 50%;
}

.circle>li::before {
    color: blue;
    border: solid 2px blue;
    border-radius: 50%;
}

.angle>li::before {
    color: blue;
    border-right: solid 3px blue;
    border-bottom: solid 3px blue;
}

.shadow>li::before {
    color: white;
    background: blue;
    box-shadow: 5px 5px 0 0 darken(blue, 20%);
}

.rombo>li {
    margin-bottom: 25px;
}

.rombo>li::before {
    color: white;
    z-index: 2;
}

.rombo>li::after {
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    background-color: blue;
    height: 2em;
    transform: rotate(45deg);
    content: '';
    z-index: 1;
}

.underline>li::before {
    border-bottom: solid 3px blue;
}


/* Small devices */

@media only screen and (max-width: 991px) {
    .text-sm-center {
        text-align: center;
    }
    div.list-inline {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    nav.sticky {
        display: none;
    }
}